.auth {
  margin: auto;
  width: 50%;

  padding: 10px;
}
.center {
  margin: auto;
  width: 50%;

  padding: 10px;
}
.send-btn {
  background-color: #0d6efd;
  border-radius: 5rem;
  border: none;
  color: white;
}
.send-btn svg {
  margin-right: 0.1rem;
}
.username {
  background-color: #0d6efd;
  border-radius: 5rem;
  padding-left: 0.2rem;
  color: whitesmoke;
}
.messages {
  border: 1px grey solid;
  border-radius: 8px;
}
